option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: URL
    value: http://domain.com
  - option_name: IAM_ACCESS_KEY
    value: AK...
  - option_name: IAM_SECRET_KEY
    value: 5..8g
  - option_name: S3_BUCKET_NAME
    value: BUCKET NAME
  - option_name: S3_BUCKET_REGION
    value: us-east-1
packages:
  yum:
   gcc: []
   gcc-c++: []
   openssl-devel: []