<div class="m-follow">
  <h6 class="m-follow--title">Dev on Social Media</h6>
  <a href="https://www.linkedin.com/in/devsimon" target="_blank" title="Deviousreality on LinkedIn" class="m-follow--item">
    <svg class="m-follow--icon icon--linkedin-square"><use xlink:href="{{asset "fonts/icons.svg"}}#icon-linkedin-square"></use></svg>
  </a>
  <a href="https://twitter.com/deviousreality" target="_blank" title="Deviousreality on Twitter" class="m-follow--item">
      <svg class="m-follow--icon icon--twitter"><use xlink:href="{{asset "fonts/icons.svg"}}#icon-twitter-1"></use></svg>
  </a>
  <a href="https://www.instagram.com/deviousreality" target="_blank" title="Deviousreality on Instagram" class="m-follow--item">
      <svg class="m-follow--icon icon--instagram"><use xlink:href="{{asset "fonts/icons.svg"}}#icon-instagram"></use></svg>
  </a>
  <a href="http://deviousreality.tumblr.com" target="_blank" title="Deviousreality on Tumblr" class="m-follow--item">
      <svg class="m-follow--icon icon--tumblr"><use xlink:href="{{asset "fonts/icons.svg"}}#icon-tumblr"></use></svg>
  </a>
</div>
